* {
  margin: 0;
  padding: 0;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.navbar-default {
  position: absolute;
  width: 100%;
  background-image: none;
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
 z-index: 10;
  .phone{
    font-size: 16px;
    color: #26e07f;
  }
  .viber {
    font-size: 16px;
    color: #6435b6;
    font-weight: bold;
  }
}


.navbar-brand > img {
}

.navbar-default .navbar-nav > li > a {
  color: #033831;
  font-size: 14px;
  padding-top: 27px;
  padding-bottom: 0;
  @include max-screen(992px) {
    font-size: 10px;
  }
  @include max-screen(750px) {
    font-size: 14px;
    text-align: center;
  }
}

.navbar-default .navbar-nav > li > .active:after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: transparent;
  margin-top: 26px;
}

.tel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 30px 30px 0;
  list-style: none;
  font-size: 14px;
  @include max-screen(992px){
    padding-right: 0;
    font-size: 10px;
  }
  @include max-screen(750px){
    font-size: 14px;
    text-align: center;
  }
  @include max-screen(540px){
    font-size: 9px;
  }
  li{
    margin-right: 30px;
    @include max-screen(320px){
      margin-right: 20px;
    }
    @include max-screen(992px){
      .phone{
        font-size: 10px;
      }
      .viber {
        font-size: 10px;
      }
    }
  }
}

.navbar-default .navbar-nav > li > .active:hover:after {
  background-color: #2ea797;
  transition: 0.3s;
}


.background {
  background-image: url("../img/Прямоугольник 2.jpg");
  width: 100%;
  height: 100vh;
  background-position: center top;
  background-size: cover;
  margin-bottom: 100px;
  padding-top: 125px;
  @include max-screen(823px){
    height: 1000px;
  }
  @include max-screen(540px){
    height: 900px;
  }
  @include max-screen(414px) {
    height: 775px;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: 60px;
    color: #033831;
    margin-bottom: 30px;
    font-weight: bold;
    @include max-screen(1024px){
      font-size: 50px;
    }
    @include max-screen(414px) {
      font-size: 40px;
    }
    @include max-screen(320px) {
      font-size: 35px;
    }
  }
  p {
    color: #033831;
    font-size: 14px;
    margin-bottom: 43px;
    line-height: 30px;
    max-width: 257px;
    font-weight: normal;
  }
  .email{
    width: 254px;
    padding: 8px 10px;
    border: solid 2px #2b8e81;
    display: block;
    margin-bottom: 20px;
  }
  button {
    background-color: #2b8e81;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 254px;
    padding: 8px 0;
    border: none;
  }
}

.soc {
  margin-bottom: 100px;
}


.social {
  img {
    width: 100%;
    -webkit-box-shadow: 0px 5px 6px -3px rgba(34, 60, 80, 0.75);
    -moz-box-shadow: 0px 5px 6px -3px rgba(34, 60, 80, 0.75);
    box-shadow: 0px 5px 6px -3px rgba(34, 60, 80, 0.75);
  }
}

@include max-screen(750px){
  .google{
    margin-bottom: 30px;
  }
}

.form, .form_g {
  background-color: rgba(57, 88, 153, 85%);
  padding: 30px 30px;
  margin-bottom: 30px;
}


.form_g {
  background-color: rgba(245, 242,242, 75%);
}

.form_g .choice:nth-child(2) {
  margin-bottom: 0;
}



.form .choice:nth-child(2), .form_g .choice_g:nth-child(2) {
  margin-bottom: 0;
}

.choice, .choice_g {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.choice_g {
  color: #033831;
}


.fb_buton, .googole_buton {
  background-color: #2b8e81;
  color: white;
  width: 100%;
  padding: 22px 0;
  font-size: 16px;
  border: solid 2px #2b8e81;
}

.googole_buton {
  background-color: white;
  color: #2b8e81;
}


.coments_carousel {
  max-width: 1140px;
  margin: auto;
}


.coments {
  background-color: #f5f2f2;
  padding: 20px 10px;
  margin-bottom: 100px;
  img {
    display: inline-block;
    margin-right: 10px;
    width: 107px;
  }
}

.name {
  display: inline-flex;
  align-items: center;
  h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #033831;
    display: block;
  }
  h4 {
    font-size: 24px;
    color: #033831;
    display: block;
    margin-bottom: 20px;
  }
}

.com {
  display: block;
  font-size: 13px;
  width: 100%;
  height: 128px;
  padding: 10px;
  background-color: #f5f2f2;
  -webkit-box-shadow: 0px 0px 52px -12px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 0px 52px -12px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 0px 52px -12px rgba(34, 60, 80, 0.2) inset;
}

.owl-carousel .owl-item img {
  display: inline-block;
  margin-right: 10px;
  width: 107px;
}

footer {
  background-color: #2b8e81;
  padding-top: 30px;
  padding-bottom: 116px;
  @include max-screen(414px){
    padding: 30px 0 116px;
  }
  p {
    color: white;
  }
  .email{
    width: 100%;
    padding: 8px 10px;
    border: solid 2px #2b8e81;
    display: block;
    margin-bottom: 20px;
  }
  button {
    background-color: #2b8e81;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 8px 0;
    border: solid 2px white;
  }
}